@font-face {
    font-family: 'Snow December';
    src: url('SnowDecember.woff2') format('woff2'),
        url('SnowDecember.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

